<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
    
<body>
    <div class="dashboard-container">

        <div class="welcome-average-score">
            <div class="welcome">
                <h1>Welcome {{ user.username }}!</h1>
            </div>
        
            <div class="average-score">
                <p>Your Average Score: {{ user.score|default:"No ratings yet" }}</p>
            </div>
        </div>
        

        <div class="dashboard-links">
            <a href="{% url 'tasks' %}">My Tasks</a>
            <a href="{% url 'teams' %}">My Teams</a>
            <a href="{% url 'ratings' %}">Other Users</a>
            <a href="{% url 'invitations' user.pk %}">Invitations</a>
            <a href="{% url 'notifications' user.pk %}">Notifications</a>
            <a href="{% url 'home' %}">Home</a>
        </div>

        <div class="forms-row">
            <div class="form-card">
                <p>Create a Team</p>
                <form method="post">
                    {% csrf_token %}
                    {{ team_form.as_p }}
                    <button type="submit" name="create_team">Create Team</button>
                </form>
            </div>

            <div class="form-card">
                <p>Create a Task</p>
                <form method="post">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                    <button type="submit" name="create_task">Create Task</button>
                </form>
            </div>
        </div>

        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

</html>
