<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <h1>Welcome to TeamUps!</h1>
    <p>Collaborate, organize, and succeed together</p>
    <p>active users: {{ users_count }}</p>
    <p>active teams: {{ teams_count }}</p>
    <p>active tasks: {{ tasks_count }}</p>


    {% if user.is_authenticated %}
    <p>Welcome Back {{ user.username }}!</p>
    <a href="{% url 'dashboard' %}">Go to your dashboard</a>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </from>


    {% else %}
    <h2>Login if you have an account</h2>
    <a href="{% url 'login' %}"><button>Login</button></a>
    <h2>SignUp if you don't have an account</h2>
    <a href="{% url 'signup' %}"><button>SignUp</button></a>

    {% endif %}
</body>
</html>
