<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <h2>Create a new account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SignUp</button>
    </form>
    <div class="auth-buttons">
        <p>Already have an account?</p>
        <a href="{% url 'login' %}"><button>Login</button></a>
    </div>
    <div class="dashboard-links">
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>
