<!DOCTYPE html>
<html>
<head>
    <title>User's Invitations</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>

    <h1>Invitations</h1>
    {% for invitation in invitations %}
        <div class="invitation-card">
            <p class="invitation-details">
                Invited by: <strong>{{ invitation.invited_by }}</strong> | 
                Status: <span>{{ invitation.status }}</span>
            </p>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="invitation_team" value="{{ invitation.team }}">
                <input type="hidden" name="invited_user" value="{{ invitation.invited_user }}">
                <input type="hidden" name="invited_by" value="{{ invitation.invited_by }}">

                <div class="invitation-actions">
                    <button type="submit" name="invitation_result" value="accept">
                        Accept
                    </button>
                    <button type="submit" name="invitation_result" value="reject" class="reject">
                        Reject
                    </button>
                </div>
            </form>
        </div>

    {% empty %}
        <p>No Invitations yet!</p>
    {% endfor %}

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="{{ meesage.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{% url 'dashboard' %}" class="return-link">Return</a>

</body>
</html>
