.home-container {
    justify-content: center;
    text-align: center;
}


.home-container h1 {
    font-size: 3vw;
}


.home-container p {
    display: flex;
    align-items: center;
}


.home-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}


.stat-box {
    display: flex;
    align-items: center;
    background: #2563eb;
    color: #fff;
    border: 0.1vw solid #ddd;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 1vw;
}


.stat-box:hover {
    transform: translateY(-3px);
}


.auth-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}


.auth-buttons a button {
    font-size: 1vw;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background: #eb2525;
    color: #000000;
    border: 0.1vw solid #000000;
    cursor: pointer;
    transition: background 0.3s;
}


.auth-buttons a button:hover {
    background: #af1e1e;
}


.homepage-forms h2 {
    font-size: 1rem;
}


.dashboard-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}


.dashboard-link a {
    display: inline-block;
    padding: 1vw 1vw;
    background: #2563eb;
    color: #fff;
    border-radius: 2vw;
    text-decoration: none;
    transition: background 0.3s;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


.dashboard-link a:hover {
    background: #1e40af;
}


.dashboard-link strong{
    margin-left: 0.5vw;
}


.logout-form button{
    background: #eb2525;
    color: #000000;
    display: inline-block;
    padding: 0.5vw;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    font-weight: 600;
}


.logout-form button:hover {
    background-color: #af1e1e;
    cursor: pointer;
    transition: background 0.3s;
}
