<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
    
<body>
    <h1>Welcome {{user.username}}!</h1>
    <p>Your Average Score: {{ user.score|default:"No ratings yet" }}</p>

    <p>Click below to go to your tasks list:<p>
    <a href="{% url 'tasks' %}">Go to my tasks</a>

    <p>Click below to go to your teams list:<p>
    <a href="{% url 'teams' %}">Go to my teams</a>

    <div style="display: flex; gap: 20px;">

        <div style="flex: 1;">
            <p>Create a Team</p>
            <form method="post">
            {% csrf_token %}
            {{ team_form.as_p }}
            <button type="submit", name="create_team">Create Team</button>
            </form>
        </div>

        <div style="flex: 1;">
            <p>Create a Task</p>
            <form method="post">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button type="submit", name="create_task">Create Task</button>
            </form>
        </div>

    </div>

    <br><br>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>

    <a href="{% url 'ratings' %}">Other users</a>
    <br>
    <a href="{% url 'home' %}">Go back to Home</a>
</body>
</html>
