<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/dashboard_styles.css' %}">
</head>
    
<body>
    <div class="dashboard-container">

        <div class="welcome-average-score">
            <div class="welcome">
                <h1>Welcome {{ user.username }}!</h1>
            </div>
        
            <div class="average-score">
                <p>Your Average Score: {{ user.score|default:"No ratings yet" }}</p>
            </div>

            <div class="avatar-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="choosefile-upload">
                        <input type="file" name="avatar" accept="image/*">
                        <button type="submit", name="upload_avatar">Upload</button>
                    </div>
                </form>

                <div class="user-avatar">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" width="120px" height="120px">
                    {% else %}
                        <p>No avatar yet</p>
                    {% endif %}
                </div>

                <div class="user-bio">
                    {% if user.bio %}
                        <p>{{ user.bio }}</p>
                    {% else %}
                        <a>Write your bio</a>
                    {% endif %}
                </div>

            </div>
        </div>
        
        <div>
            <div class="dashboard-links">
                <a href="{% url 'tasks' %}">My Tasks</a>
                <a href="{% url 'teams' %}">My Teams</a>
                <a href="{% url 'ratings' %}">Other Users</a>
                <a href="{% url 'invitations' user.pk %}">Invitations</a>
                <a href="{% url 'notifications' user.pk %}">Notifications</a>
                <a href="{% url 'delete_account' %}">Delete My Account</a>
                <a href="{% url 'home' %}">Home</a>
            </div>
        </div>
        
        {% load cache %}

        <div class="forms-row">
            <div class="form-card">
                <p>Create a Team</p>
                <form method="post">
                    {% csrf_token %}
                        {{ team_form.as_p }}
                    <button type="submit" name="create_team">Create Team</button>
                </form>
            </div>

            <div class="form-card">
                <p>Create a Task</p>
                <form method="post">
                    {% csrf_token %}
                    {% cache 60 task_form user.id %}
                        {{ task_form.as_p }}
                    {% endcache %}
                    <button type="submit" name="create_task">Create Task</button>
                </form>
            </div>
        </div>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

        <script>
            const username = "{{ request.user.username }}"
            const socket = new WebSocket(`ws://${window.location.host}/ws/notifications/${username}/`);
            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                alert("🔔 "+ data.message);
            };
        </script>

    </div>
</body>

</html>
