<!DOCTYPE html>
<html>

<head>
    <title>TeamUps</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/homepage_styles.css' %}">
</head>

<body>
    <div class="home-container">
        <h1>Welcome to TeamUps!</h1>

        <div class="home-stats">
            <p>Collaborate, organize, and succeed together</p>
            <div class="stat-box">Active users: {{ users_count }}</div>
            <div class="stat-box">Active teams: {{ teams_count }}</div>
            <div class="stat-box">Active tasks: {{ tasks_count }}</div>
        </div>

        {% if user.is_authenticated %}
        
            
            <div class="dashboard-link">
                <p>Welcome Back <strong>{{ user.username }}</strong>!</p>
                <a href="{% url 'dashboard' %}">Go to your dashboard</a>
            </div>

            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            
        {% else %}

            <div class="homepage-forms">

                <div class="auth-buttons">
                    <h2>Login if you have an account</h2>
                    <a href="{% url 'login' %}"><button>Login</button></a>
        
                    <h2>SignUp if you don't have an account</h2>
                    <a href="{% url 'signup' %}"><button>SignUp</button></a>
                </div>
            </div>

        {% endif %}
    </div>
</body>

</html>
