<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/login_styles.css' %}">
    <link rel="icon" href="{% static 'main/TeamUps.ico' %}">
</head>
<body>
    <h1>Login</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
    <div class="login-forms">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">login</button>
        </form>
        <h2>Forgot your password?</h2>
        <form method="post">
            {% csrf_token %}
            <input type="email" name="user_email" placeholder="Your email" required>
            <button type="submit">Send reset link</button>
        </form>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>
