<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <h1>Login</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
    <div class="dashboard-links">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">submit</button>
        </form>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>
