<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="notifications-container">
        <ul>
        {% for notification in notifications %}
            <li {% if not notification.is_read %}style="font-weight: bold;"{% endif %}>
            {{ notification.message }} <small>({{ notification.created_at|date:"Y-m-d H:i" }}) 🔔</small>
            </li>
        {% empty %}
            <li>No notifications yet 🎉</li>
        {% endfor %}
        </ul>
        
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>

    </div>
    <a href="{% url 'dashboard' %}" class="return-link">Return</a>
</body>
</html>
