<!DOCTYPE html>
<html>
<head>
    <title>Tasks List</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>

    <h1>All Teams</h1>

    {% for team in teams %}
      <li>
        - name: {{ team.name }}
        - score: {{ team.teamwork_score|default:"No scores yet!" }}
        <form method="post" style="display: inline">
          {% csrf_token %}
          <input type="hidden" name="rated_team" value="{{ team.name }}">
          <input type="number" name="score" min="1" max="5" required>
          <button type="submit">Rate</button>
        </form>

        - leader: {{ team.leader.username }}
        <a href="{% url 'team_details' team.pk %}" class="team-details">View details</a>
      </li>
    {% endfor %}

    <a href="{% url 'dashboard' %}" class="return-link">Return</a>
</body>
</html>
